{% load humanize static i18n wagtailsettings_tags wagtailcore_tags get_journals_by_name_institutiton %}

<section class="breadcrumb mt-3 mb-5 py-0 py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb mb-0 ps-0">
                    <li class="breadcrumb-item">
                        <a href="/home" alt="Home"><span class="material-icons-outlined">home</span></a> {% trans 'Home' %}
                    <li class="breadcrumb-item">
                        {% trans 'Periódicos' %}
                    </li>
                </ol>
            </div>
            <div class="breadcrumb-content">
                {% if self.get_ancestors|length > 1 %}
                    <ul class="breadcrumb">
                        {% for p in self.get_ancestors %}
                            {% if p.is_root == False %}
                                <li><a href="{{ p.url }}">{{ p.title }}>>></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ol class="breadcrumb mb-0 ps-0">
                    <li class="breadcrumb-item">
                        <h3 style="margin: 0%;"><strong>{{ page.title }}</strong></h3>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>