{% extends "wagtailsnippets/snippets/index.html" %}
{% load wagtailadmin_tags i18n static %}
{% load auth_extras has_csv %}

{% block main_header %}
    {{ block.super }}

    {% if page_obj %}
        {# Injeta um holder com o total correto #}
            <span id="snippet-total-count" data-total="{{page_obj.paginator.count}}"></span>
    {% endif %}
    
    {% if model_opts.model_name|has_csv %}
        {% if request.user|has_group:"Collection Team" or request.user.is_superuser  %} 
            <form action="{% url 'import_csv' %}" method="post" enctype="multipart/form-data" style="display: inline;">
                {% csrf_token %}
                <label for="csvFileInput" class="w-header-button button" style="cursor: pointer;">
                    {% icon name="upload" classname="icon" %}
                    {% trans 'Importar CSV' %}
                </label>
                <input id="csvFileInput" type="file" name="csv_file" required style="display: none;">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'admin/js/inject_listing_total_breadcrumb.js' %}"></script>
    <script src="{% static 'admin/js/move_import_form_and_upload_csv.js' %}"></script>
{% endblock %}