{% extends "wagtailusers/users/create.html" %}
{% load wagtailadmin_tags wagtailimages_tags %}
{% load i18n %}

{% block extra_fields %}
    <li>{% include "wagtailadmin/shared/field.html" with field=form.collection %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.journal %}</li>
{% endblock extra_fields %}

{% block extra_css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {{ form.media.js }}
{% endblock %}
