/* About page styles */
ul.scielo__menu-contexto,
ul.scielo__menu-contexto ul {
  list-style: none;
}

ul.scielo__menu-contexto ul {
  margin-bottom: 1rem;
}

ul.scielo__menu-contexto .nav-link {
  padding: 0;
  color: gray;
}

ul.scielo__menu-contexto .nav-link.active {
  color: #3867ce;
}

.sticky-top {
  top: 80px;
}

.bd-example h5,
.bd-example h4 {
  margin-top: 3rem;
}

.bd-example hr {
  margin-top: 3rem;
}

.bd-example ul {
  margin-bottom: 3rem;
}

a {
  word-wrap: break-word;
}


