{% load static compress %}
{% load i18n %}

<footer>
    <section class="address-scielo pt-4 pb-4 mt-5">
      <div class="container">
        <div class="row">
          <div class="col col-12 col-sm-2 text-center">
            <div class="scielo__logo-scielo--small" alt="Logo SciELO" style="background-image:url(https://qa1.scielo.br/static/img/logo-scielo-no-label.svg)"></div>
          </div>
          <div class="col col-12 col-sm-10 text-center text-sm-start">
            <p>
              <small>
                <strong> SciELO - Scientific Electronic Library Online</strong>
              </small>
            </p>
            <p>
              <small>Rua Dr. Diogo de Faria, 1087 – 9º andar – Vila Clementino 04037-003 São Paulo/SP - Brasil <br> E-mail: scielo@scielo.org </small>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col text-center mt-4 mb-4">
            <a href="http://www.fapesp.br/" target="_blank" class="mx-4 my-2 d-inline-block">
              <img src="{% static 'journal_about/images/FAPESP.png' %}" alt="FAPESP">
            </a>
            <a href="http://www.capes.gov.br/" target="_blank" class="mx-4 my-2 d-inline-block">
              <img src="{% static 'journal_about/images/CAPES.png' %}" alt="CAPES">
            </a>
            <a href="http://www.cnpq.br/" target="_blank" class="mx-4 my-2 d-inline-block">
              <img src="{% static 'journal_about/images/CNPq.png' %}" alt="CNPq">
            </a>
            <a href="http://bvsalud.org/" target="_blank" class="mx-4 my-2 d-inline-block">
              <img src="{% static 'journal_about/images/BVS.png' %}" alt="BVS">
            </a>
            <a href="http://regional.bvsalud.org/bvs/bireme/homepage.htm" target="_blank" class="mx-4 my-2 d-inline-block">
              <img src="{% static 'journal_about/images/BIREME.png' %}" alt="BIREME">
            </a>
            <a href="https://www.fapunifesp.edu.br/" target="_blank" class="mx-4 my-2 d-inline-block">
              <img src="{% static 'journal_about/images/FAP-UNIFESP.png' %}" alt="FAP-UNIFESP">
            </a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="text-center">
              <a href="#">
                <img src="{% static 'journal_about/img/logo-open-access.svg' %}" alt="Open Access" class="logo-open-access">
              </a>
              {% blocktrans %}<a href="#">Leia</a> a Declaração de Acesso Aberto{% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
    </section>
  </footer>