{% load i18n %}
{% load static compress %}

<style>
  body{
    padding-top: 115px;    
  }

  @media (min-width: 768px){ 
    body{
      padding-top: 74px; 
    }
  }
  header {
    background: #fff;
  }

  /*
  Ajustes para serem feitos no Design System:
  

  .scielo__menu{
    position: relative;
    margin-left: 8px;
  }
  
  .scielo__list-links{
    list-style: none;
    padding: 0;
    margin: 0;

  }
  .scielo__list-links a{
    display: block;
    white-space: nowrap;
  }
  */

  @media (min-width: 768px){
      
      .scielo__truncate{
        display: block;
        max-width: 285px;
      }

    }

  .journalContent .card{
    min-height: 220px;
  }
 
  .card {
    position: relative;
  }
  .card .card-body .btn{
    position: absolute;
    bottom: 16px;
  }
  /*
  strong.card-title{
    color: #333;
  }
  */

</style>


<header class="fixed-top scielo__shadow-2">
  <div class="container">
      <div class="row">
          <div class="col-2 col-sm-1">
          </div>
          <div class="col col-sm-3">
              <a href="/" title="Ir para a homepage da coleção: Brasil">
                  <div class="scielo__logo-scielo-collection mt-1">
                      <small></small>
                  </div>
              </a>
          </div>
          <div class="d-none d-sm-block d-lg-none col">
              <div class="dropdown mt-3">
                  <button class="btn btn-link dropdown-toggle mb-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-truncate scielo__truncate">{{ journal.title }} </span>
                  </button>
                  <ul class="dropdown-menu scielo__shadow-2" aria-labelledby="dropdownMenuButton1">
                    <li>
                      <a href="#" class="dropdown-item">
                        {% if journal.logo_url %}
                          <img src="#" class="image" alt="Logomarca do periódico: {{ journal.title }}" />
                        {% endif %}
                      </a>
                    </li>
                    {% if journal.online_submission_url and journal.current_status == 'current' %}
                      <li>
                        <a href="#" class="dropdown-item" target="_blank"><span class="material-icons-outlined">launch</span> {% trans 'Submissão de manuscritos' %}</a>
                      </li>
                    {% endif %}
                    <li>
                      <a href="#about" class="dropdown-item"><span class="material-icons-outlined">info</span> {% trans 'Sobre o periódico' %}</a>
                    </li>
                    <li>
                      <a href="#editors" class="dropdown-item"><span class="material-icons-outlined">people</span> {% trans 'Corpo Editorial' %}</a>
                    </li>
                    <li>
                      <a href="#instructions" class="dropdown-item"><span class="material-icons-outlined">help_outline</span> {% trans 'Instruções aos autores' %}</a>
                    </li>
                    <li>
                      <a href="#item2" class="dropdown-item"><span class="material-icons-outlined">help_outline</span> {% trans 'Política editorial' %}</a>
                    </li>
                    <li>
                      <a href="#contact" class="dropdown-item"><span class="material-icons-outlined">email</span> {% trans 'Contato' %}</a>
                    </li>
                  </ul>
                </div>
          </div>
          <div class="col col-lg-3 offset-lg-5">
              <div class="language mt-3">
                {% include "journalpage/includes/language.html" %}
              </div>
          </div>
      </div>
      <div class="row d-block d-sm-none">
          <div class="col">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle mb-2 w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="truncate">{{ journal.title }} </span>
              </button>
              <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a href="#" class="dropdown-item">
                    {% if journal.logo_url %}
                      <img src="#" class="image" alt="Logomarca do periódico: {{ journal.title }}" />
                    {% endif %}
                  </a>
                </li>
                {% if journal.online_submission_url and journal.current_status == 'current' %}
                  <li>
                    <a href="#" class="dropdown-item" target="_blank"><span class="material-icons-outlined">launch</span> {% trans 'Submissão de manuscritos' %}</a>
                  </li>
                {% endif %}
                <li>
                  <a href="#about" class="dropdown-item"><span class="material-icons-outlined">info</span> Sobre o periódico</a>
                </li>
                <li>
                  <a href="#editors" class="dropdown-item"><span class="material-icons-outlined">people</span> Corpo Editorial</a>
                </li>
                <li>
                  <a href="#instructions" class="dropdown-item"><span class="material-icons-outlined">help_outline</span> Instruções aos autores</a>
                </li>
                <li>
                  <a href="#item2" class="dropdown-item"><span class="material-icons-outlined">article</span> Política editorial</a>
                </li>
                <li>
                  <a href="#contact" class="dropdown-item"><span class="material-icons-outlined">email</span> Contato</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
  </div>
 
</header>