{% load i18n %}
<div class="dropdown">
  <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary scielo__btn-with-icon--only dropdown-toggle mb-0 float-end" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="material-icons-outlined">share</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDrop1">
    <li><a href="javascript:window.print();" class="dropdown-item">{% trans 'Imprimir' %}</a></li>
    <li><a href="#" type="button" class="dropdown-item" target="_blank">RSS</a></li>
    <li><a href="javascript:;" class="dropdown-item share_modal_id">E-mail</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item shareFacebook" href="#">Facebook</a></li>
    <li><a class="dropdown-item shareTwitter" href="#">X</a></li>
    <li><a class="dropdown-item shareLinkedIn" href="#">LinkedIn</a></li>
    <li><a class="dropdown-item shareReddit" href="#">Reddit</a></li>
    <li><a class="dropdown-item shareCiteULike" href="#">CiteULike</a></li>
    <li><a class="dropdown-item shareMendeley" href="#">Mendeley</a></li>
  </ul>
</div>