{% load static compress %}
{% load wagtailadmin_tags wagtailcore_tags wagtailimages_tags i18n %}
{% load wagtailsettings_tags %}

{% get_settings use_default_site=True %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>

      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="author" content="SemiColonWeb" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

      {% block css %}

        <!-- banner de cookie -->
        <!-- <link rel="stylesheet" href="{% static 'css/cookiealert.css' %}"> -->

        {% block extra_css %}
        {% endblock %}

        {% compress css %}

          <!-- css design system -->
          <link href="{% static 'css/scielo_design_system.css' %}?v=1.1.17" rel="stylesheet">

        {% endcompress %}

      {% endblock %}

      

      {% if settings.core_settings.CustomSettings.favicon %}
        {% image settings.core_settings.CustomSettings.favicon original as favicon %}
          <link href="{{ favicon.url }}" rel="shortcut icon" type="image/x-icon">
          <link href="{{ favicon.url }}" rel="apple-touch-icon">
      {% else %}
          <link href="{% static 'images/favicons/favicon-16x16.png' %}" rel="shortcut icon" type="image/x-icon">
          <link href="{% static 'images/favicons/apple-touch-icon.png' %}" rel="apple-touch-icon">
      {% endif %}

      <title>{% block title %}{{settings.core_settings.CustomSettings.name}}{% endblock title %}</title>

      {% block extra_head %}{% endblock extra_head %}

  </head>

  <body>
      
    {% block content %}{% endblock content %}
      
    </div>

    {% block modal %}
       {% include 'home/scieloorg/modal.html' %}
    {% endblock modal %}

    {% include 'home/scieloorg/footer.html' %}

    <!-- Le javascript
    ================================================== -->
    {% block javascript %}

      <!-- JavaScripts -->
      <script src="{% static 'scieloorg/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
      <!-- <script src="{% static 'scieloorg/js/scielo.js' %}" type="text/javascript" charset="utf-8"></script> -->
      <script src='https://www.google.com/recaptcha/api.js'></script>

      

      <!-- place project specific Javascript in this file -->
      {% compress js %}{% endcompress %}

      {% block inline_javascript %}

      {% endblock inline_javascript %}

      <script src="https://static.scielo.org/js/cookiePolicy.min.js" type="text/javascript" charset="utf-8"></script>

    {% endblock javascript %}
  </body>
</html>

