{% load i18n %}
{% load wagtailcore_tags %}

<header>
    <!-- Navegação de idiomas no topo -->
    <div class="container">
        <div class="row p-4">
            <div class="col d-flex align-items-center">
                <ul class="list-unstyled d-flex align-items-center gap-2 mb-0">
                    <li>
                        <a href="{{old_scielo_url}}" target="_blank">
                            old.scielo.org
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <ul class="list-unstyled d-flex align-items-center gap-2 mb-0">
                    <li>
                        <a href="{% pageurl page_about %}">
                        <span class="material-icons-outlined">info</span> {% trans 'About SciELO' %}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-auto d-flex justify-content-end align-items-center">
                {% if page %}
                    <div class="language">
                        <div class="scielo__language">
                            <div class="dropdown">
                                <button type="button" class="btn btn-sm btn-secondary scielo__btn-with-icon--left dropdown-toggle mb-0 float-end mt-1" style="border: 1px solid #ced4da !important; border-radius: 0.25rem;" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="material-icons-outlined">language</span>
                                    {% get_language_info for page.locale.language_code as current_lang %}
                                    <span class="d-lg-none">{{ page.locale.language_code }}</span>
                                    <span class="d-none d-lg-block">{{current_lang.name_translated}}</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    {% for translation in page.get_translations.live %}
                                        {% get_language_info for translation.locale.language_code as lang %}
                                        <li>
                                            <a class="dropdown-item" href="{% pageurl translation %}" lang="{{ lang.code }}" rel="alternate" hreflang="{{ translation.locale.language_code }}">
                                               {% trans lang.name_translated %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
