{% load i18n wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load custom_tags %}

<!-- tabs -->
    <section>
        <div class="container">
            <div class="row row-tab-desk">
                <div class="col-md-12 nav-center">
                    <ul class="nav nav-tabs justify-content-center border-0" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-blog-tab" data-bs-toggle="tab" href="#tab-colecoes" role="tab" aria-controls="tab1" aria-selected="true">
                                {% trans 'Collections' %}
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab-periodicos" role="tab" aria-controls="tab2" aria-selected="false">
                                {% trans 'Journals' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            

            <!-- Tab content -->
            <div class="tab-content mt-3 mb-5" id="myTabContent2">
                <div class="tab-pane fade show active p-4 pb-0" id="tab-colecoes" role="tabpanel" aria-labelledby="tab-colecoes-tab">
                    <div class="row">
                        <div class="col">
                            
                            <dl>
                                {% for col in collections_journals %}
                                    {% if forloop.first %}
                                    <dd class="first-node-collection">
                                        <h3 class="h6 fw-bold">{% trans 'Journals' %}</h3>
                                        <a href="{{col.obj.domain}}" class="flag-{{col.obj.acron3}} flag-no-data">
                                            <h4 class="h6">{{col.name}}</h4>
                                        </a>
                                    </dd>
                                    {% else %}
                                    <dd>
                                        <a href="{{col.obj.domain}}" class="flag-{{col.obj.acron3}} flag-no-data">
                                            <h4 class="h6">{{col.name}}</h4>
                                        </a>
                                    </dd>
                                    {% endif %}
                                {% endfor%}
                
                                {% for col in collections_in_development %}
                                    {% if forloop.first %}
                                    <dd class="first-node-collection">
                                        <h3 class="h6 fw-bold">{% trans 'In development' %}</h3>
                                        <a href="{{col.obj.domain}}" class="flag-{{col.obj.acron3}} flag-no-data">
                                            <h4 class="h6">{{col.name}}</h4>
                                        </a>
                                    </dd>
                                    {% else %}
                                    <dd>
                                        <a href="{{col.obj.domain}}" class="flag-{{col.obj.acron3}} flag-no-data">
                                            <h4 class="h6">{{col.name}}</h4>
                                        </a>
                                    </dd>
                                    {% endif %}
                                {% endfor%}
                                
                                <div>
                                    {% for col in collections_servers_and_repositorios %}
                                        {% if forloop.first %}
                                        <dd class="first-node-collection">
                                            <h3 class="h6 fw-bold">{% trans 'Servers and Repositories' %}</h3>
                                            <a href="{{col.obj.domain}}" class="scielo-servers-repos obj.scielo-servers-repos-no-data">
                                                <h4 class="h6">{{col.name}}</h4>
                                            </a>
                                        </dd>
                                        {% else %}
                                        <dd>
                                            <a href="{{col.obj.domain}}" class="scielo-servers-repos obj.scielo-servers-repos-no-data">
                                                <h4 class="h6">{{col.name}}</h4>
                                            </a>
                                        </dd>
                                        {% endif %}
                                    {% endfor%}
                                </div>
                
                                {% for col in collections_books %}
                                    {% if forloop.first %}
                                    <dd class="first-node-collection">
                                        <h3 class="h6 fw-bold">{% trans 'Books' %}</h3>
                                        <a href="{{col.obj.domain}}" class="scielo-books scielo-obj.books-no-data">
                                            <h4 class="h6">{{col.name}}</h4>
                                        </a>
                                    </dd>
                                    {% else %}
                                    <dd>
                                        <a href="{{col.obj.domain}}" class="scielo-books scielo-obj.books-no-data">
                                            <h4 class="h6">{{col.name}}</h4>
                                        </a>
                                    </dd>
                                    {% endif %}
                                {% endfor%}
                
                                {% for col in collections_others %}
                                    {% if forloop.first %}
                                    <dd class="first-node-collection">
                                        <h3 class="h6 fw-bold">{% trans 'Others' %}</h3>
                                        <a href="{{col.obj.domain}}" class="scielo-books scielo-obj.books-no-data">
                                            <h4 class="h6">{{col.name}}</h4>
                                        </a>
                                    </dd>
                                    {% else %}
                                    <dd>
                                        <a href="{{col.obj.domain}}" class="scielo-books scielo-obj.books-no-data">
                                            <h4 class="h6">{{col.name}}</h4>
                                        </a>
                                    </dd>
                                    {% endif %}
                                {% endfor%}
    
                            </dl>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade p-4 pb-0" id="tab-periodicos" role="tabpanel" aria-labelledby="tab-periodicos-tab">
                    
                    <div class="row">
                        <div class="col">
                            <dl class="dl-search-journals">
                                {% for child in list_journal_pages %}
                                    <dt >
                                        <h3 class="h6 fw-bold">{% trans 'Search journals' %}</h3>
                                    </dt>
                                    
                                    <form action="{{ child.url }}" method="get">
                                        <div class="input-group mb-3">
                                            <input type="text" name="search_term" class="form-control" placeholder="Search journals: Enter one or more words" aria-label="Search journals: Enter one or more words" autofocus>
                                            <button type="submit" class="btn btn-primary btn-lg scielo__btn-with-icon--only">
                                                <i class="material-icons-outlined">search</i>
                                            </button>
                                        </div>
                                    </form>
                                    <dt>
                                        <h3 class="h6 fw-bold">{% trans 'List of journals' %}</h3>
                                    </dt>
                                    <dd class="text dd-button">
                                        <a href="{{child.url}}" class="btn btn-secondary">{% trans 'In alphabetical order' %}</a>
                                    </dd>
                                {% endfor %}

                                {# By publisher #}
                                {% for child in list_journal_by_publisher_pages %}
                                    <dd class="text dd-button">
                                        <a href="{{child.url}}" class="btn btn-secondary">{% trans 'Of publisher' %}</a>
                                    </dd>
                                {% endfor %}
                            </dl>

                            <dl class="dl-search-journals"> 
                                <dt>
                                    <h3 class="h6 fw-bold">{% trans 'List of journals by subject' %}</h3>
                                </dt>
                                {% for child in list_journal_pages_by_category %}
                                    <dd class="text dd-button">
                                        <a href="{{child.url}}" class="btn btn-secondary">{% trans 'All' %}</a>
                                    </dd>
                                    {% for slug, category in categories.items %}
                                        <dd class="text dd-button">
                                            <a href="{% routablepageurl child 'list_journal_by_category' slug %}" class="btn btn-secondary" name="category">{{category}}</a>
                                        </dd>
                                    {% endfor%}
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>
    </section>
    <section>

        <div class="container">
            <div class="row row-tab-desk">
                <div class="col-md-12 nav-center">
                    
                    <ul class="nav nav-tabs justify-content-center border-0" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-blog-tab" data-bs-toggle="tab" href="#tab-blog" role="tab" aria-controls="tab1" aria-selected="true">
                                {% trans 'SciELO in Perspective' %}
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab-youtube-videos" role="tab" aria-controls="tab2" aria-selected="false">
                                YouTube
                            </a>
                        </li>
                    </ul>
            
                    <!-- Tab content -->
                    <div class="tab-content mt-3" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-blog" role="tabpanel" aria-labelledby="tab-blog-tab">
                            <div class="row slider-blog scielo-slider" id="blog-feed-container">
                                <!-- Os posts serão inseridos aqui via JS -->
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    {% if LANGUAGE_CODE == 'pt-br' %}
                                        <a href="https://blog.scielo.org/" class="mt-5 btn btn-secondary scielo__btn-with-icon--right">
                                    {% else %}
                                        <a href="https://blog.scielo.org/{{LANGUAGE_CODE}}" class="mt-5 btn btn-secondary scielo__btn-with-icon--right">
                                    {% endif %}
                                        {% trans 'Acesse o Blog SciELO em Perspectiva' %}
                                        <i class="material-icons-outlined">arrow_forward</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-youtube-videos" role="tabpanel" aria-labelledby="tab-youtube-videos-tab">
                            <div class="row slider-youtube-videos scielo-slider" id="youtube-feed-container">
                                <!-- Video serao inseridos aqui via JS -->
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <a href="https://www.youtube.com/user/RedeSciELO/" class="mt-5 btn btn-secondary scielo__btn-with-icon--right">
                                        RedeSciELO YouTube Channel
                                        <i class="material-icons-outlined">arrow_forward</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'home/include/home_scielo_in_pespectiva.html' %}
        {% include 'home/include/home_scielo_youtube.html' %}
    </section>

