{% extends "journalpage/base.html" %}
{% load static compress %}
{% load i18n %}
{% load wagtailroutablepage_tags %}
{% load wagtailcore_tags %}
{% load custom_tags %}

{% block body_class %}journal about{% endblock %}

{% block content %}
{% include "journalpage/includes/header.html" %}
{% include "journalpage/includes/journal_info.html" %}
{% include "journalpage/includes/levelMenu.html" %}

{% block main_content %}

<!-- Load About Page CSS -->
<link rel="stylesheet" href="{% static 'journalpage/css/about.css' %}">

<!-- Breadcrumbs -->
{% include "journalpage/includes/about/breadcrumbs.html" %}

<!-- Main Content Section -->
<section class="journalContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12 content journalSecundary">
        <div class="row">
          <div class="col">
            <div class="bd-example">
              <div class="row">
                <div class="col-12 col-sm-9">
                  <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="-200" class="" tabindex="0">
                    
                    <!-- Bibliographic Information Section -->
                    {% include "journalpage/includes/about/bibliographic_info.html" %}
                    
                    <!-- Editorial Policy Section -->
                    {% include "journalpage/includes/about/editorial_policy.html" %}
                    
                    <!-- Editorial Board Section -->
                    {% include "journalpage/includes/about/editorial_board.html" %}
                    
                    <!-- Author Instructions Section -->
                    {% include "journalpage/includes/about/author_instructions.html" %}
                    
                  </div>
                </div>
                
                <!-- Sidebar Navigation Menu -->
                <div class="d-noe col-sm-3">
                  {% include "journalpage/includes/about/sidebar_menu.html" %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Updated Date -->
        <div class="row">
          <div class="col">
            <p class="page-updated-at">
              <small>Atualizado: {{journal.updated}}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% include "journalpage/includes/contact_footer.html" %}
{% include "journalpage/includes/footer.html" %}

{% endblock %}
