{% extends "base.html" %}
{% load i18n wagtailcore_tags %}

{% block content %}
    <!-- {% if page %}
        {% for translation in page.get_translations.live %}
            {% get_language_info for translation.locale.language_code as lang %}
            <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}">
                {{ lang.name_local }}
            </a>
            {% endfor %}
            {{page.specific.title}}
    {% endif %} -->

{% endblock content %}
