{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load wagtailsettings_tags %}
{% load i18n wagtailcore_tags %}
{% load get_journals_by_name_institutiton %}
{% block content%}
<header>
    <div class="container">
        <div class="row">
            <div class="col text-end p-4">
                <ul class="list-unstyled">
                    <li>
                        <a href="https://scielo.org/en/about-scielo"><span class="material-icons-outlined">info</span> About SciELO</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="{{ page.get_parent.specific.url }}"><div class="scielo__logo-scielo--medium"></div></a>
                <!-- <span>Scientific Electronic Library Online</span> -->
            </div>
        </div>
    </div>
</header>
<section class="breadcrumb mt-3 mb-5 py-0 py-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb mb-0 ps-0">
                    <li class="breadcrumb-item">
                        <a href="/home" alt="Home"><span class="material-icons-outlined">home</span></a>
                    </li>
                    <li class="breadcrumb-item">
                        Periódicos
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h4 mb-3"> Periódicos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-8">
                <form id="meuForm" action="{{ self.url }}" method="get">
                    <ul class="nav">
                        <li class="nav-item" role="presentation">
                            <button type="submit" class="ms-1 btn btn-sm btn-secondary" name="tab" value="">
                                {% trans "Todos" %}
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="submit" class="ms-1 btn btn-sm btn-secondary scielo__btn-with-icon--left" name="tab" value="C">
                                <span class="material-icons" style="color: #2c9d45;">fiber_manual_record</span> {% trans "Ativos" %}
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="submit" class="ms-1 btn btn-sm btn-secondary scielo__btn-with-icon--left" name="tab" value="D">
                                <span class="material-icons" style="color: #c63800;">fiber_manual_record</span> {% trans "Descontinuados" %}
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col-12 col-sm-4">
                <form method="get" action="{{ self.url }}" class="search-form">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-sm" id="search_term" name="search_term" value="{{ search_term }}" placeholder="Digite para filtrar">
                        <button type="submit" class="btn btn-primary btn-lg scielo__btn-with-icon--only">
                        <i class="material-icons-outlined">search</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Tab content -->
                <div class="tab-content mt-3 mb-5" id="myTabContent2">
                    <div class="tab-pane fade show active pb-0" id="tab-todos" role="tabpanel" aria-labelledby="tab-todos-tab">
                        <div class="row">
                            <div class="col-12 d-flex align-items-start">
                                <table class="table table-hover">
                                    <caption class="visually-hidden">Journal list</caption>
                                    <thead>
                                        <tr>
                                            <th class="w-100" scope="col">{% trans 'Periódicos' %}<span id="totalLabel"></span> <small>({% trans 'total' %} {{ journals.count }})</small></th>
                                            <th class="text-nowrap w-auto" scope="col">
                                                <form action="#" style="margin-bottom: 2px;" class="download-form">
                                                    <!-- <button type="submit" class="btn btn-success">Download List</button> -->
                                                    <button id="btnGroupDropDownload" type="submit" class="btn btn-sm btn-secondary scielo__btn-with-icon--only dropdown-toggle mb-0 float-end d-print-none" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="material-icons-outlined">download</span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDropDownload" >
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                            XLS 
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">
                                                            CSV
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="separator-by-letter">
                                            <td colspan="2">
                                                <strong id="letter-A">
                                                A
                                                </strong>
                                            </td>
                                        </tr>
                                        {% for journal in journals %}
                                        <tr>
                                            <th colspan="2">
                                                {% if journal.scielojournal__status in "C" %}
                                                    <span class="material-icons align-middle fs-5" style="color: #2c9d45;">fiber_manual_record</span> 
                                                {% elif journal.scielojournal__status in "DS" %} 
                                                    <span class="material-icons align-middle fs-5" style="color: #c63800;">fiber_manual_record</span> 
                                                {% endif %}
                                                <a target="_blank" href="http://{{ journal.scielojournal__collection__domain }}/scielo.php?script=sci_serial&pid={{journal.scielojournal__issn_scielo}}&lng=en">{{ journal.title }}</a>
                                            </th>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <form action="{{self.url}}" method="get" id="letterFilterForm">
                                    <div class="btn-group-vertical btn-group-fixed ms-4" role="group" aria-label="Filtro por letra" id="letterBtnGroup">
                                        <!-- Botões serão inseridos aqui via JavaScript -->
                                    </div>
                                    <input type="hidden" name="start_with_letter" id="letterInput" value="">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade p-4 pb-0" id="tab-ativos" role="tabpanel" aria-labelledby="tab-ativos-tab">
                        <div class="row">
                            <div class="col">
                                conteúdo Ativos
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade p-4 pb-0" id="tab-descontinuados" role="tabpanel" aria-labelledby="tab-descontinuados-tab">
                        <div class="row">
                            <div class="col">
                                conteúdo Descontinuados
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
// Letras de A a Z
const letters = Array.from({length: 26}, (_, i) => String.fromCharCode(65 + i));
const btnGroup = document.getElementById('letterBtnGroup');
const letterInput = document.getElementById('letterInput');
const form = document.getElementById('letterFilterForm');

letters.forEach(letter => {
const btn = document.createElement('button');
btn.type = 'button';
btn.className = 'btn btn-sm btn-default';
btn.textContent = letter;
btn.onclick = function() {
    letterInput.value = letter;
    form.submit();
};
btnGroup.appendChild(btn);
});

</script>

<!--
    <a href="#">Home</a>
    
    <p>Journal{% if category%}: {{category}}{% endif %}</p>
    
    <div class="search-results">
        <ul>
            {% if publisher %}
                ----------------
                {% for inst in institution %}
                    {% if inst.name|get_journals_by_name_institutiton %}
                            <p> Publisher: {{inst.name}} 
                                {% for journal in inst.name|get_journals_by_name_institutiton %}
                                    <li>
                                        <ul>
                                            <!- Revisar href ->
                                            <a href="http://{{ journal.collection.all.first.domain }}/scielo.php?script=sci_serial&pid={{journal.official.issnl}}&lng=en" target="_blank">{{ journal.title }}</a>
                                        </ul>
                                    </li>
                                {% endfor%}
                            </p>
                -----------------
                    {% endif%}
                {% endfor%}
            {% else %}
            <p>Total journals: {{ journals.count }}</p>
            {% for journal in journals %}
            {{ journal.title }}
                {% if journal.collection.all %}
                    <!- Revisar href ->
                    <a href="http://{{ journal.collection.all.first.domain }}/scielo.php?script=sci_serial&pid={{journal.official.issnl}}&lng=en" target="_blank">{{ journal.title }}</a>
                {% endif %}
            {% endfor %}        
        {% endif%}
        </ul>
    </div>
    
    {% endblock %}
    -->