{% extends "base.html" %}
{% load humanize static i18n wagtailsettings_tags wagtailcore_tags get_journals_by_name_institutiton %}
{% block title %}{{page.specific.title}}{% endblock title %}
{% block content %}
    {% include "home/scieloorg/header.html" %}
    {% include "home/include/scielo_logo_medium.html" %}
    {% include "home/include/list_journal_page/breadcrumb.html" %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="h4 mb-3">{% trans 'Periódicos' %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8">
                    {% include "home/include/list_journal_page/journals_tabs.html" %}
                </div>
                <div class="col-12 col-sm-4">
                    {% include "home/include/list_journal_page/journals_search_form.html" %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% include "home/include/list_journal_page/journals_table.html" %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block inline_javascript %}
<script src="{% static 'scieloorg/js/scieloorg-journal-letter-filter.js' %}" type="text/javascript"></script>
<script src="{% static 'scieloorg/js/add-url-params-to-form.js' %}" type="text/javascript"></script>
{% endblock inline_javascript %}