{% load humanize static i18n wagtailsettings_tags wagtailcore_tags get_journals_by_name_institutiton %}
<div>
    <ul class="list-unstyled justify-content-center justify-content-sm-start d-flex mt-3 mb-0 scielo__social-network-links">
        <li class="me-2">
            <a href="https://bsky.app/profile/scielo.org" target="_blank" aria-label="BlueSky">
                <i class="icon-bluesky"></i>
            </a>
        </li>
        <li class="me-2">
            <a href="https://openbiblio.social/@scielo" target="_blank" aria-label="Mastodon">
                <i class="icon-mastodon"></i>
            </a>
        </li>
        <li class="me-2">
            <a href="https://www.linkedin.com/company/scielo---scientific-electronic-library-online/?originalSubdomain=br" target="_blank" aria-label="LinkedIn">
                <i class="icon-linkedin"></i>
            </a>
        </li>
        <li class="me-2">
            <a href="https://www.facebook.com/SciELONetwork" target="_blank" aria-label="Facebook">
                <i class="icon-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/c/SciELONetwork" target="_blank" aria-label="Youtube">
                <i class="icon-youtube"></i>
            </a>
        </li>
    </ul>
</div>
