{% load i18n %}
{% load wagtailroutablepage_tags %}

<nav id="navbar-example3" class="navbar navbar-light bg-light flex-column --align-items-stretch p-3 sticky-top">
  <ul class="scielo__menu-contexto nav">
    <li>
      <a class="active fw-bold nav-link" href="#about">{% trans 'Sobre o periódico' %}</a>
      <ul>
          <li>
              <a class="nav-link" href="#item-1-1">{% trans 'Ficha Bibliográfica' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-1-2">{% trans 'Missão' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-1-3">{% trans 'Breve Histórico' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-1-4">{% trans 'Foco e escopo' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-1-5">{% trans 'Contato' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-1-6">{% trans 'Websites e Mídias Sociais' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-1-7">{% trans 'Fontes de indexação' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-1-8">{% trans 'Patrocinadores e agências de Fomento' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-1-9">{% trans 'Preservação digital' %}</a>
          </li>
        </ul>
    </li>
    <li>
      <a class="fw-bold nav-link" href="#item-2" style="font-weight: bold;">{% trans 'Política editorial' %}</a>
      <ul>
          <li>
              <a class="nav-link" href="#item-2-1">{% trans 'Conformidade com a Ciência Aberta' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-2-2">{% trans 'Dados abertos' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-2-3">{% trans 'Preprint' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-2-4">{% trans 'Peer review informado' %}</a>
          </li>
          <li>
          <a class="nav-link" href="#item-2-5">{% trans 'Ética' %}</a>
          <li>
              <a class="nav-link" href="#item-2-5-1">{% trans 'Comitê de Ética' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-2-5-2">{% trans 'Direitos Autorais' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-2-5-3">{% trans 'Propriedade Intelectual' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-2-5-4">{% trans 'Política de Ética e Más condutas' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-2-5-5">{% trans 'Política sobre Conflito de Interesses' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-2-5-6">{% trans 'Questões de gênero' %}</a>
          </li>
        </ul>
    </li>
    <li>
      <a href="#editors" class="fw-bold nav-link">{% trans 'Corpo editorial' %}</a>
      <ul>
          <li>
              <a class="nav-link" href="#item-3-1">{% trans 'Editor-chefe' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-3-2">{% trans 'Editor-executivo' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-3-3">{% trans 'Editor(es) Associados ou de Seção / Área' %}</a>
          </li>
          <li>
              <a class="nav-link" href="#item-3-4">{% trans 'Equipe técnica' %}</a>
          </li>
      </ul>
  </li>
  <li>
    <a href="#instructions" class="fw-bold nav-link">{% trans 'Instruções para os Autores' %}</a>
    <ul>
      <li>
        <a class="nav-link" href="#item-4-1">{% trans 'Tipos de Documentos Aceitos' %}</a>
      </li>
      <li>
        <a class="nav-link" href="#item-4-2">{% trans 'Contribuição dos Autores' %}</a>
      </li>
      <li>
        <a class="nav-link" href="#item-4-3">{% trans 'Formato de Envio dos Artigos' %}</a>
      </li>
      <li>
        <a class="nav-link" href="#item-4-4">{% trans 'Ativos Digitais' %}</a>
      </li>
      <li>
        <a class="nav-link" href="#item-4-5">{% trans 'Citações e Referências' %}</a>
      </li>
      <li>
        <a class="nav-link" href="#item-4-6">{% trans 'Documentos Suplementares Necessários para Submissão' %}</a>
      </li>
      <li>
        <a class="nav-link" href="#item-4-7">{% trans 'Declaração de Financiamento' %}</a>
      </li>
      <li>
        <a class="nav-link" href="#item-4-8">{% trans 'Agradecimentos' %}</a>
      </li>
      <li>
        <a class="nav-link" href="#item-4-9">{% trans 'Informações Adicionais' %}</a>
      </li>
    </ul>
  </li>
</ul>
</nav>

